/System Volume Information/
/System Volume Information
*.iso
*.sha256
*.img
*.wim
*.zip
*.7z
*.msi
*.exe
*.log
*.tmp
*.casper-rw
/boot/ISOs/Installs/BB
/CustomDrivers
/Programs
*.log
!/ventoy/**/*
/boot/ventoy-install/
Disk Backup/
DiskImage/
/Imagens/*
/testes/*
/Drivers/*
!/Drivers/x99
*cracked*
!.gitkeep