/System Volume Information/
/System Volume Information
*.iso
*.sha256
*.sha*
*.img
*.wim
*.zip
*.7z
*.msi
*.exe
*.log
*.tmp
*.casper-rw
/boot/ISOs/Installs/BB
/boot/autonome/windows/apps/*
!/boot/autonome/windows/apps/Adobe/bloquear.ps1
/CustomDrivers
/Programs
/apps/*
/Drivers/*
!boot/autonome/windows/Drivers.*
*.log
!/ventoy/**/*
/boot/ventoy-install/
/Disk Backup
/DiskImage
/Imagens/*
/testes/*
*cracked*
!.gitkeep