# Autogerado - Ventoy Menu


submenu "Windows Education" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Education/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Education/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Education/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Education/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Education/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Education/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Enterprise-G" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-G/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Enterprise-LTSC_2024" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise-LTSC_2024/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Enterprise" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Enterprise/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows HomeSingleLanguage" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/HomeSingleLanguage/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Home" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Home/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Home/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Home/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Home/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Home/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Home/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows IoT-Enterprise-LTSC_2024" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise-LTSC_2024/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows IoT-Enterprise" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/IoT-Enterprise/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows OEM" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/OEM/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/OEM/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/OEM/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/OEM/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/OEM/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/OEM/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Pro-Education" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Pro-Education/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Pro-Workstation" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Pro-Workstation/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Pro" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Pro/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Pro/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Pro/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Pro/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Pro/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Pro/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Server-2022-Datacenter" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Datacenter/Gamer.xml"
    ventoy_autounattend $xml
  }
}

submenu "Windows Server-2022-Standard" {
  menuentry "Basico" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Basico.xml"
    ventoy_autounattend $xml
  }
  menuentry "Cru" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Cru.xml"
    ventoy_autounattend $xml
  }
  menuentry "Designer" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Designer.xml"
    ventoy_autounattend $xml
  }
  menuentry "Dev" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Dev.xml"
    ventoy_autounattend $xml
  }
  menuentry "Full" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Full.xml"
    ventoy_autounattend $xml
  }
  menuentry "Gamer" {
    set xml="/boot/autonome/windows/autounattend/Server-2022-Standard/Gamer.xml"
    ventoy_autounattend $xml
  }
}
